.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Membagi 2 kolom sama besar */
    gap: 1rem; /* Jarak antar kolom grid */
}
